*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/wave-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    }

.balanceBlock, .expenseBlock, .userBlock {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.balanceBtn, .expenseBtn, .userBtn {
    margin: 1rem;
    margin-left: 4rem;
    width: 40px;
}

.hideBalance {
    margin: 1rem;
    width: 40px;
}

.userData {
    margin-top: 0.5rem;
    font-size: 2.7rem;
    background: -webkit-linear-gradient(left,#eaa016, rgb(185, 28, 28));    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.currentBalance, p {
    margin-top: 0.5rem;
    font-size: 3rem;
    background: -webkit-linear-gradient(left,#eaa016, rgb(185, 28, 28));    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.balanceBlock::after {
    content: '';
    position:absolute;
    margin-top: 95px;
    margin-right: 450px;
    border-bottom: peru 1px solid;    
    border-left:250px solid transparent;
    border-right:250px solid transparent;
}

.button {
/*     background-color: #f7df1e; */
    background-color: #f2b583;
    color: black;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    width: 12rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
}

#balance {
    font-size: 2rem;
}

@media (max-width: 1024px) {



    .container {
        margin: 0;
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .button {
        min-width: 350px;
        min-height: 80px;
        font-size: 2rem;
    }

    body {
        background-image: url(img/wave-haikei.svg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        }
    
}